/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh; 
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-image: none;
    background-color: deeppink;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  
  display: block;
  padding: 10px 20px;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
 font-style: italic;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}